body {
	background-color: #2EC9CC;
	}

ul {
	width: 60%;
}
li {
	display: inline-block;
	background-color: #0DBFDD;
}

figure {
	border: 1px solid aqua;
	padding: 1em;
	background-color: gray;
}
figcaption {
	text-align: center;
	color: white;
	font-style: italic;
	padding-top: .25em;
}

figure img {
	width: 10em;
	height: 10em;
}

a img.large_image {
	display: none;
}

img.large_image {
	width: 25em;

}

a:hover img.large_image {
	display: block;
	position: absolute;
	right: 2em;
	top: 5em;
	border: 1px dashed black;
	padding: .5em;
	cursor: crosshair;
}
